<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>animeName</param-name>
        <param-value>One Piece</param-value>
    </context-param>
    <servlet>
        <servlet-name>takingParameter</servlet-name>
        <servlet-class>takingParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackGround</servlet-name>
        <servlet-class>BackGround</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showHobbies</servlet-name>
        <servlet-class>showHobbies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initParameter</servlet-name>
        <servlet-class>initParameter</servlet-class>
        <init-param>
            <param-name>teamName</param-name>
            <param-value>Miluwakee Bucks</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>headInfo</servlet-name>
        <servlet-class>headInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postRequest</servlet-name>
        <servlet-class>postRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postGetRequest</servlet-name>
        <servlet-class>postGetRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationPage</servlet-name>
        <servlet-class>registrationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestParam</servlet-name>
        <servlet-class>requestParam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pageHitCounter</servlet-name>
        <servlet-class>pageHitCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>practical13HiddenFields</servlet-name>
        <servlet-class>practical13HiddenFields</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prac13Output</servlet-name>
        <servlet-class>prac13Output.prac13Output</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calendar</servlet-name>
        <servlet-class>calendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mamsVersionPageHit</servlet-name>
        <servlet-class>mamsVersionPageHit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mamCookieServlet1</servlet-name>
        <servlet-class>mamCookieServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mamCookieServlet2</servlet-name>
        <servlet-class>mamCookieServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mamUrlRewriting1</servlet-name>
        <servlet-class>mamUrlRewriting1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mamUrlRewriting2</servlet-name>
        <servlet-class>mamUrlRewriting2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>takingParameter</servlet-name>
        <url-pattern>/takingParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackGround</servlet-name>
        <url-pattern>/BackGround</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showHobbies</servlet-name>
        <url-pattern>/showHobbies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initParameter</servlet-name>
        <url-pattern>/initParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>headInfo</servlet-name>
        <url-pattern>/headInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postRequest</servlet-name>
        <url-pattern>/postRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postGetRequest</servlet-name>
        <url-pattern>/postGetRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationPage</servlet-name>
        <url-pattern>/registrationPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestParam</servlet-name>
        <url-pattern>/requestParam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pageHitCounter</servlet-name>
        <url-pattern>/pageHitCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>practical13HiddenFields</servlet-name>
        <url-pattern>/practical13HiddenFields</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prac13Output</servlet-name>
        <url-pattern>/prac13Output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calendar</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mamsVersionPageHit</servlet-name>
        <url-pattern>/mamsVersionPageHit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mamCookieServlet1</servlet-name>
        <url-pattern>/mamCookieServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mamCookieServlet2</servlet-name>
        <url-pattern>/mamCookieServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mamUrlRewriting1</servlet-name>
        <url-pattern>/mamUrlRewriting1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mamUrlRewriting2</servlet-name>
        <url-pattern>/mamUrlRewriting2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
